<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.msmq://localhost/private/ClientRequest"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ICreditLimitRequest"
                contract="ServiceReference1.ICreditLimitRequest" name="NetMsmqBinding_ICreditLimitRequest" />
            <endpoint address="net.msmq://localhost/private/ClientRequest"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ICreditLimitRequest1"
                contract="ServiceReference1x.ICreditLimitRequest" name="NetMsmqBinding_ICreditLimitRequest1" />
            <endpoint address="net.msmq://localhost/private/ClientRequest"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ICreditLimitRequest2"
                contract="ServiceReference1.ICreditLimitRequest" name="NetMsmqBinding_ICreditLimitRequest2" />
            <endpoint address="net.msmq://localhost/private/ClientRequest"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ICreditLimitRequest3"
                contract="ServiceReference1.ICreditLimitRequest" name="NetMsmqBinding_ICreditLimitRequest3" />
        </client>
        <bindings>
            <netMsmqBinding>
                <binding name="NewBinding0">
                    <security mode="None" />
                </binding>
                <binding name="NetMsmqBinding_ICreditLimitRequest" exactlyOnce="false">
                    <security mode="None" />
                </binding>
                <binding name="NetMsmqBinding_ICreditLimitRequest1" exactlyOnce="false">
                    <security mode="None" />
                </binding>
                <binding name="NetMsmqBinding_ICreditLimitRequest2" exactlyOnce="false">
                    <security mode="None" />
                </binding>
                <binding name="NetMsmqBinding_ICreditLimitRequest3" exactlyOnce="false">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <services>
            <service name="Client.CreditLimitResponse">
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8183/ServiceResponse"/>
                </baseAddresses>
              </host>
                <clear />
                <endpoint address="net.msmq://localhost/private/ServiceResponse"
                    binding="netMsmqBinding" bindingConfiguration="NewBinding0"
                    contract="Client.ICreditLimitResponse" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>