<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <style type="text/css">
        .css-form input.ng-invalid.ng-touched  {
            background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-touched {
            background-color: #78FA89;
        }
    </style>
</head>
<body ng-app="form" ng-controller="formCtrl">

    <form novalidate class="css-form" name="ola">
        Name : <input type="text" ng-model="user.name" required="" /> <br />
        Email: <input type="email" ng-model="user.email"  name="em" /><br />
        Gender: <input type="radio" ng-model="user.gender" value="male" />male <input type="radio" ng-model="user.gender" value="female" />female<br />
        <input type="button" ng-disabled="ola.em.$invalid" ng-click="save(user)" value="Save" />
        <input type="button" ng-click="reset()" value="Reset" />
    </form>
    

    <pre>{{user | json}}</pre>
    <pre>{{users | json}}</pre>

</body>
    <script>
        angular.module('form', [])
            .controller('formCtrl', ['$scope', function($scope) {
                    $scope.users = {};

                    $scope.save = function(user) {
                        $scope.users = angular.copy(user); //deep copy from source user to destination users
                    };

                    $scope.reset = function() {
                        $scope.user = angular.copy($scope.users);
                    };
                }
            ]);
    </script>


</html>
