
<form name="productForm" class="form-horizontal">
   
    <fieldset>
        <legend>Basic Product Information</legend>
        <div class="form-group">
            <label class="col-md-2 control-label">Product Name</label>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="vm.product.productName" placeholder="Product Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Code</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="ipproductCode" ng-model="vm.product.productCode" ui-mask="AAA-****" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label">Date o f  Release</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="ipreleaseDate" is-open="vm.opened" datepicker-popup="MMM dd, yyyy " ng-model="vm.product.releaseDate" />
                <span class="input-group-btn"><button ng-click="vm.open($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-6">
                <textarea class="form-control" rows="3" ng-model="vm.product.description" placeholder="Description"></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <button class="btn btn-primary" ng-click="vm.submit()">Save</button>
                <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div>

    </fieldset>
    
</form>