@model List<DateMePlease.Entities.Profile>
@{
  ViewBag.Title = "Index!";
}

<div>
  <div class="jumbotron">
    <h2>Find Your Match Today!</h2>
    <p class="lead">DMP.com is a website for finding that special person in your life. No more pretending you're successful, confident, or even happy. Just honest communication about finding a partner who is like you. </p>
    <a href="@Url.Action("Register", "Account")" class="btn btn-lg btn-success col-lg-7 col-lg-offset-3">Register Now!</a>
  </div>
    <div class="row">
      <h2 class="text-center">Come meet real people just like this:</h2>
        <div class="well-lg">
            @foreach (var profile in Model)
            {
                <div class="col-lg-2">
                    <div class="member-ad">
                        <img src="@profile.Photos.First(x=>x.IsMain).Url" class="img-circle img-responsive" />
                        <div class="text-center"><strong>Looking for:</strong> <div>@profile.LookingFor</div></div>
                    </div>
                </div>
            }
        </div>
  </div>
</div>