<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalcService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8030/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalcService" contract="ICalcService"
                name="BasicHttpBinding_ICalcService" />
        </client>
    </system.serviceModel>
</configuration>