<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
    <behavior>
      <!--This behavior, when used in conjunction with the <webHttpBinding>, enables the REST for a WCF service.-->
      <webHttp/>
    </behavior>
  </endpointBehaviors>
    </behaviors>   
    <services>
      <service name="WcfRestReturnImage.Service1">
        <!--//localhost:28542/Service1.svc/ will be the path. last "/" is required-->
        <endpoint address="" binding="webHttpBinding" contract="WcfRestReturnImage.IService1"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
        Dear Candidate,
BA Continuum India Pvt. Ltd. (BACI) is a nonbank subsidiary of Bank of America. 
At BACI, employees are part of a diverse, global banking environment with best-in-class people, processes and practices. We belong to a globally admired brand which is one of the largest financial institutions in the world. We are responsible for core banking functions and consistently learn, contribute and grow. 
We call our commitment to employees: GROW which stands for Growth, Rewards and Opportunities in a World-class work environment. 

This includes: 
1. World-class and diverse global banking environment 
2. Exposure to core banking operations 
3. Continuous learning environment 
4. Compensation competitive with industry standards 
5. Recognition for outstanding achievement 
6. Career growth based on performance and potential
Work Location- Gurgaon
Experience 5-12 years of strong experience especially in C#, ASP.net, WebAPI & REST API
Education: B.E./ B.Tech/M.E./M.Tech
Job Description- This role involves architecture, design and development of a technology framework for .Net technologies development in the bank.
Responsibilities 
• Responsible for design, development and implementation of web based technology platform(s)
• Participates as an individual contributor and/or lead projects, complete activities as a part of a team related to special initiatives or operations
• Solve complex problems using in house tools and be able to work with a global mindset
• Assist junior developers and ensure high quality of deliverables
• Assist in the release coordination. Effectively work as part of a globally blended team of resources (both Associates and consultants)
• Provide application integration technical consultancy to Architects and Application Development Teams across the firm
• Input to technical roadmaps for the products and services
• L3/L4 support for complex technical issues with the managed service applications and supported products
Mandatory  Skills
• Experience in designing, developing, coding, testing and debugging application and enhancements to existing software product.
• Strong experience in design patterns
• Significant experience developing software with ASP.NET
• Experience with MVC 4.0/5.0, WCF WebServices
• Web Development experience using HTML 5, CSS 3, Spring MVC, JQuery
• Experience with SQL Server and stored procedure development(T-SQL)
• Strong experience in Object Oriented design and development
• Experience with .NET Framework 4.0/4.5, LINQ and Entity Framework
• Experience using modern development methodology including Agile and continuous integration 
• Solid understanding of API’s, abstractions, and message/socket level development 
• Excellent understanding of the HTTP protocol and web services 
• Experience with web server configuration, management and tuning (IIS Preferred) 
• Full development lifecycle and support tool experience: Subversion, GIT, CVS, Jira, Visual Studio, Linqpad
• Experience with n-tier web applications with distributed components 
• Identifying, documenting, and closing out bugs
• Automating tests, deployments, upgrades
• Proficiency in all layers of a multi-tier application
• Ability to understand all phases of SDLC
Desired skills

• Excellent communication skills, inter-personal skills, client-facing abilities and international exposures 
• Proficiency in at least one scripting language Powershell (Preferred), Bash, Python, and/or PERL 
• Experience with WebAPI / REST API 
• Participation in the architectural analysis and design of the system
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
