<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--
  THIS WILL NOT WORK IN CASE OF SELF HOSTING. THIS SHOULD BE DONE BEFORE START SO config.EnableCors(new EnableCorsAttribute("http://localhost:1614","*","*"));
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:1614"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>-->
</configuration>