@model IEnumerable<MVC4CustomFilter.Models.Emp>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title .xxx</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>We suggest the following:

    THE SEQUENCE OF EXECUTION IS LIKE <br>
    <br>1-MODEL BINDING
    <br>2-ACTION EXECUTING FILTER
    <br>3-ACTUAL ACTION EXECUTION
    <br>4-ACTION EXECUTED FILTER
    <br>5-ACTION RESULT
</h3>
<ol class="round">
   @foreach(var e in Model)
   {
       <li>@e.name</li>
   }
</ol>
