@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Your Photos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <img src="~/Images/awkwardguy.jpg" alt="mainPhoto" class="img-responsive img-thumbnail" />
      <div class="pull-right"><button class="btn btn-danger btn-sm">Delete</button><button class="btn btn-warning btn-sm" disabled>Set as Main</button></div>
      <div>
        <i>Profile Photo</i>
      </div>
      <div>Just my mug</div>
    </div>
    <div class="col-lg-3">
      <a href="#"><img src="~/Images/addphoto.jpg" alt="add photo" class="img-responsive img-thumbnail" /></a>
      <div><i>Add New Photo</i></div>
      <div></div>
    </div>
  </div>
</div>
