<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    
    <client>
      <endpoint address="net.msmq://localhost/private/ClientRequest"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ICreditLimitRequest4"
        contract="ServiceReference.ICreditLimitRequest" name="NetMsmqBinding_ICreditLimitRequest" />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="NewBinding0">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_ICreditLimitRequest4" exactlyOnce="false">
          <security mode="None" />
        </binding>
       
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="qClientnmsp.CreditLimitResponse">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:32580/ServiceResponse"/>
          </baseAddresses>
        </host>
        <clear />
        <endpoint address="net.msmq://localhost/private/ServiceResponse" binding="netMsmqBinding" bindingConfiguration="NewBinding0" contract="qClientnmsp.ICreditLimitResponse" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>